table[class = var] td:nth-child(1)
{
    width: 180px
}

table[class = var] td:nth-child(2)
{
    width: 50px;
    text-align:left;
}

table[class = var] td:nth-child(3)
{
    width: 1000px;
    text-align: left;
}

table[class = specifier] td:nth-child(2)
{
    width: 1500px;
    text-align: left;
}

table[class = function-param] td:nth-child(2)
{
    width: 1000px;
    text-align: left;
}

table[class = constructor] td:nth-child(2)
{
    width: 1000px;
    text-align: left;
}

table[class = classspecifier] td:nth-child(2)
{
    width: 2000px;
    text-align: left;
}

table[class = classmember] td:nth-child(2)
{
    width: 2000px;
    text-align: left;
}

table[class = "OOP5"] td:nth-child(2)
{  
    width: 1000px;
    text-align: left;
}

.tag-c11::after, .tag-dep::after, .tag-specifier::after, .tag-datatype::after, .tag-variable::after, .tag-ref::after
{
    font-size: 10px;
    font-weight: bold;
    color:white;
    padding: auto 13px;
    border-radius: 8px;
    margin: auto 3px;
    border: 3px solid;
    font-size: 12px
}

.tag-specifier::after, .tag-datatype::after, .tag-variable::after
{
    font-size: 20px;
}

.tag-ref::after
{
    font-size: 0.8em;
}

.tag-specifier::after
{
    content: "제한자";
    background-color:red;
    border-color: red;
}

.tag-datatype::after
{
    content: "데이터형";
    background-color: blue;
    border-color: blue;
}

.tag-variable::after
{
    content: "변수명";
    background-color:#ff6347;
    border-color:#ff6347;
}

.tag-c11::after
{
    content: "C++11";
    background-color: red;
    border-color: red;
}

.tag-ref::after
{
    content: "참고";
    background-color:brown;
    border-color:brown
};

.tag-dep::after
{
    content: "Dep";
    background-color: gray;
    border-color:  gray;
}