/* 아래는 공통 css임
 * 모든 문서의 목차 안의 내용은 <div class = "content"></div>로 감쌀 것
 * 목차 안의 내용에서 순서 리스트를 만들 경우 <li>말고 <span class = "number></span>으로 감쌀 것
*/
/* 폰트 임포트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* 
{
    font-family: "Noto Sans KR", sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

/* 전체 레이아웃 지정 */
.layout
{
    margin: auto 0;
    display: flex;
}

.sidebar
{
    position: fixed;
}

.body
{
    padding: 100px 250px 100px 450px;
}

/* 폰트 지정 */
h1
{
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 50px;
}

h2
{
    font-size: 35px;
    font-weight: bolder;
    padding-bottom: 30px;
}

p
{
    font-weight: normal;
    line-height: 32px;
}

a
{
    color:tomato;
    text-decoration-line: none;
}

/* 내용 박스 지정 */
.content
{
    border-bottom: 3px solid #ddd;
    padding: 70px 100px 70px 100px;
}

/* 이미지 크기 지정 */
img
{
    width: 95%;
    padding: 10px 0px 10px 0px;
    align-items: center;
}

/* 내용 순서 리스트 숫자 지정 */
.number
{
    color: lightseagreen;
}