#index
{
    height: 100%;
    top: 0;
}

#title
{
    text-align: center;
    color: #30b565;
    font-weight: bold;
    margin: 10px;
}

#count
{
    font-size: 0.8em;
    font-weight: bold;
    border: 3px solid tomato;
    border-radius: 8px;
    padding: 3px;
    margin: 0px 3px 3px 3px;
    color: tomato;
}

.division
{
    border: 3px solid #295792;
    border-radius: 8px;
    margin: 3px 3px 0px 3px;
}

/* content.js 에서 생성되는 요소 */
.two, .three, .four, .five, .six
{
    margin: 10px;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.two:hover, .three:hover, .four:hover .five:hover, .six:hover
{
    color: #b7a3ff;
}

.two:active, .three:active, .four:active, .five:active, .six:active
{
    color: tomato;
}

.two
{
    margin-left: 1px;
}

.three
{
    margin-left: 26px;
}

.four
{
    margin-left: 51px;
}

.five
{
    margin-left: 76px;
}

.six
{
    margin-left: 101px;
}

@media (max-width:1000px)
{
    #index
    {
        display: none;
    }

    .content-small
    {
        display: grid;
        background-color: #ddd;
        z-index: 10;
    }

    #content-icon-menu
    {
        width: 50px;
    }

    #content-checkbox
    {
        display: none;
    }

    #index
    {
        height: 100%;
        top: 0;
    }

    #title
    {
        text-align: center;
        color: #30b565;
        font-weight: bold;
        margin: 10px;
    }

    #count
    {
        font-size: 0.8em;
        font-weight: bold;
        border: 3px solid tomato;
        border-radius: 8px;
        padding: 3px;
        margin: 0px 3px 3px 3px;
        color: tomato;
    }

    .division
    {
        border: 3px solid #295792;
        border-radius: 8px;
        margin: 3px 3px 0px 3px;
    }

    /* content.js 에서 생성되는 요소 */
    .two, .three, .four, .five, .six
    {
        margin: 10px;
        font-size: 0.8em;
        font-weight: bold;
        cursor: pointer;
        text-decoration: underline;
    }

    .two:hover, .three:hover, .four:hover .five:hover, .six:hover
    {
        color: #b7a3ff;
    }

    .two:active, .three:active, .four:active, .five:active, .six:active
    {
        color: tomato;
    }

    .two
    {
        margin-left: 1px;
    }

    .three
    {
        margin-left: 26px;
    }

    .four
    {
        margin-left: 51px;
    }

    .five
    {
        margin-left: 76px;
    }

    .six
    {
        margin-left: 101px;
    }
}