#index
{
    height: 100%;
    top: 0;
}

#title
{
    text-align: center;
    color: #30b565;
    font-weight: bold;
    margin: 10px;
}

#count
{
    font-size: 0.8em;
    font-weight: bold;
    border: 3px solid tomato;
    border-radius: 8px;
    padding: 3px;
    margin: 0px 3px 3px 3px;
    color: tomato;
}

.division
{
    border: 3px solid #295792;
    border-radius: 8px;
    margin: 3px 3px 0px 3px;
}

/* content.js 에서 생성되는 요소 */
.two, .three, .five, .six
{
    margin: 10px;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.two:hover, .three:hover, .five:hover, .six:hover
{
    color: #b7a3ff;
}

.two
{
    margin-left: 3px;
}

.three
{
    margin-left: 17px;
}

.five
{
    margin-left: 32px;
}

.six
{
    margin-left: 47px;
}