#index
{
    /* position: fixed; */

    background-color: whitesmoke;
    border: 3px solid #295792;
    overflow-y: auto;
    top: 0;
    height: 100%;
}

#title
{
    text-align: center;
    margin: 10px;
}

/* js 에서 생성되는 요소 */
.three, .five, .six
{
    margin: 10px;
    font-size: 0.8em;
}

.three
{
    border: 2px solid #6991c7;
    border-radius: 3px;
    color: blue;
    margin: 10px;
}

.five
{
    margin-left: 25px;
}

.six
{
    margin-left: 50px;
}