#start::before
{
    content: "시작하기 전에";
    color: white;
    font-weight: normal;
    background-color:brown;
    padding: 0 15px;
    border-radius: 8px;
}

#more::before
{
    content: "좀 더 알아보기";
    color: white;
    font-weight: normal;
    background-color:brown;
    padding: 0 15px;
    border-radius: 8px;
}

#stop::before
{
    content: "여기서 잠깐";
    color: white;
    font-weight: normal;
    background-color:brown;
    padding: 0 15px;
    border-radius: 8px;
}