.tag-explain1
{
    border: 2px solid tomato;
    border-radius: 8px;
    padding: 1px 10px 2px 10px;
    background-color: tomato;
    color:white
}

a
{
    font-weight: 100;
    color:black;
    cursor: pointer;
}

li
{
    list-style-type: none;
    cursor: pointer;
}

.second-list
{
    margin-right: 50px;
}

.list-content
{
    border: 2px solid mediumseagreen;
    border-radius: 8px;
    display: none;
}

a:click > .list-content
{
    display: block;
}