/*🔗· <br> &lt; &gt;*/
.style-explain1
{
    color:white;
    background-color: tomato;
    border-radius: 8px;
    padding: 2px;
    margin-bottom: 2px;
    font-weight: normal;
    text-shadow: 5px, 5px, black;
    line-height: 200%;
}

/*공동 태그 스타일*/
.style-default, .style-must
{
    padding: 2px;
    color: white;
    border-radius: 5px;
    font-weight:normal;
}

/*디폴트 속성값 태그 스타일*/
.style-default
{
    background-color:blue;
}

/*필수 유형 태그 스타일*/
.style-must
{
    background-color:crimson;
}

/*예시용 스타일: border-style:groove, css.html line374 쯤*/
.border-groove
{
    border: groove 5cqmin;
}

/*예시용 스타일: border-style:inset; border-collapse:sperate css.html line376 쯤*/
.border-inset > table
{
    border-collapse: seperate;
    border: inset 5px; 
}

.border-outset > table
{
    border-collapse: sperate;
    border: outset 5px;
}

.border-ridge
{
    border: ridge 50px;
}

span > a
{
    color:#30b565;
}