/* .tag-explain1 태그 분류 
/* .tag-empty 빈 태그 여부 
 * .tag-ib 요소 종류2가지 블록 요소, 인라인 요소
 *  .tag-must-child 자식 요소
 */
.tag-explain1, .tag-ib, .tag-must-child, .tag-empty
{
    border-radius: 8px;
    padding: 2px;
    color:white;
    margin-bottom: 2px;
    font-weight: 100;
}

.tag-explain1
{
    background-color: tomato;
}

.tag-ib
{
    background-color: red;
}

.tag-must-child
{
    background-color: darkgreen;
}

.tag-empty
{
    background-color: darkslategray;
}



.tag-content
{
    border: 2px solid #ddd;
    border-radius: 8px;
}

abbr
{
    color:crimson;
}

/* .list-content
{
    display: none;
    border: 2px solid mediumseagreen;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
}

li
{
    list-style-type: none;
}

li:hover > .list-content
{
    display:block;
} */