/* .tag-explain1 태그 분류 
/* .tag-explain2 빈 태그 여부 
 * .tag-explain3 요소 종류2가지 블록 요소, 인라인 요소
 */
.tag-explain1
{
    border: 2px solid tomato;
    border-radius: 8px;
    padding: 2px;
    background-color: tomato;
    color:white;
    margin-bottom: 2px;
}

.tag-content
{
    border: 2px solid #ddd;
    border-radius: 8px;
}

/* .list-content
{
    display: none;
    border: 2px solid mediumseagreen;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
}

li
{
    list-style-type: none;
}

li:hover > .list-content
{
    display:block;
} */