/* 폭: 0~1000px */
@media only screen and (max-width:1000px)
{    
    /* 전체 레이아웃 지정 */
    .layout
    {
        display: grid;
        grid-template-columns: repeat(64, 1fr);
        grid-template-rows: repeat(64, 1fr);
    }
    
    .header
    {
        display: block;
    }

    .sidebar
    {
        display: none;
    }

    .body
    {
        grid-column: 3/62;
    }

    h1
    {
        margin-top: 50px;
    }

    .card-list
    {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
        justify-content: space-between;
        margin-top:100px;
    }

    .card-item
    {
        width: 50%;
        padding: 0 1rem;
        margin-bottom: 4%;
    }

    .thumbnail
    {
        margin-bottom: 0.5rem;
        background-color: #f5f4f0;
    }

    .thumbnail img
    {
        /* background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        mix-blend-mode: luminosity; */
        width: 100%;
    }

    .thumbnail-info
    {
    font-size: 0.85rem;
    line-height: 1.4;
    }
    
    /* 폰트 지정 */
    h1
    {
        font-size: 25px;
        font-weight: bolder;
        padding-bottom: 20px;
    }
    
    h2
    {
        font-size: 15px;
        font-weight: bolder;
        padding-bottom: 10px;
    }
    
    p
    {
        font-weight: normal;
        line-height: 22px;
    }
    
    a
    {
        color:tomato;
        text-decoration-line: none;
    }
}

/* 폭: 1000~무한px */
@media not screen and (max-width:1000px)
{
    /* 전체 레이아웃 지정 */
    .layout
    {
        display:grid;
        grid-template-columns: repeat(8, 1fr);
    }
    
    .header
    {
        display: none;
    }
    
    .sidebar
    {
        position:fixed;
        background-color: #6991c7;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
        /* https://rgy0409.tistory.com/4997 */
        overflow-y: auto;
        top: 0;
        height: 100%;
    }
    
    .body
    {
        /* padding: 100px 250px 100px 450px; */
        grid-column: 4/8;
    }
    
    h1
    {
        margin-top: 50px;
    }

    .card-list
    {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
        justify-content: space-between;
        margin-top:100px;
    }

    .card-item
    {
        width: 50%;
        padding: 0 1rem;
        margin-bottom: 4%;
    }

    .thumbnail
    {
        margin-bottom: 0.5rem;
        background-color: #f5f4f0;
    }

    .thumbnail img
    {
        /* background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        mix-blend-mode: luminosity; */
        width: 100%;
    }

    .thumbnail-info
    {
    font-size: 0.85rem;
    line-height: 1.4;
    }

    /* 폰트 지정 */
    h1
    {
        font-size: 25px;
        font-weight: bolder;
        padding-bottom: 20px;
    }
    
    h2
    {
        font-size: 15px;
        font-weight: bolder;
        padding-bottom: 10px;
    }
    
    p
    {
        font-weight: normal;
        line-height: 22px;
    }
    
    a
    {
        color:rgb(79, 59, 227);
        text-decoration-line: none;
    }

    img
    {
        border-radius: 8px;
    }
}