/* 홈 페이지 전체 레이아웃 지정 */
body
{
  margin: 0px;
}

.layout {
  display: grid;
  grid:"sidebar body" 15% / 75% auto;
  gap: 8px
}
  
.sidebar 
{ 
  grid-area: sidebar; 
  background-color: #1d201e;
}

.body 
{ 
  grid-area: body; 
}