div [class |= equation]
{
    display: inline-block;
    text-align: center;
    border: 2px solid firebrick;
    border-radius: 8px;
    padding: 20px 30px 20px 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.formula, .ref
{
    color: white;
    font-size: 0.9em;
   
    border-radius: 5px;
    padding: 1px 5px 3px 5px;
}

.formula
{
    background-color: tomato;
}

.ref
{
    background-color:cadetblue;
}

.equation-h5
{
    margin-left: 2.0em;
}

.equation-h6
{
    margin-left: 5.0em;
}

h6 ~ .content3
{
    margin-left: 5.0em;
    padding-left: 10px;
}

h6 + p
{
    margin-left: 5.0em;
    padding-left: 10px;
}

