#wrapper-nav
{
    padding: 10px 10px 100px 10px;
    border-right: 2px solid #ddd;
}

.title
{
    font-size: 0.8em;
    font-weight: bold;
    color: #5c6d61;
}

.detail
{
    cursor: pointer;
    font-size: 0.6em;
    color: #3f3d3d;
    font-weight: bold;
    line-height: 30px;
}

.title-wrapper
{
    padding-bottom: 50px;
}