#wrapper-nav
{
    padding: 15px;    
}

.profile
{
    font-size: 15px;
    font-weight: lighter;
    color: #3f3d3d;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;

}

.title-wrapper
{
    padding: 30px;
}

.title
{
    font-size: 15px;
    font-weight: bold;
    color: #ddd;
}

.detail
{
    cursor: pointer;
    font-size: 15px;
    color: #3f3d3d;
    font-weight: bold;
    line-height: 30px;
}

#go-main
{
    color: #3b1da8;
}