#wrapper-sidebar-small
{
    display: none;
}

#wrapper-nav
{
    /* position:fixed; */
    padding: 15px;
    background-color: #6991c7;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.profile
{
    font-size: 15px;
    font-weight: lighter;
    color: #3f3d3d;
    /* border: 2px solid #ddd;
    border-radius: 8px; */
    padding: 20px;

}

.title-wrapper
{
    padding: 20px 10px 20px 10px;
    margin: 10px 0px 10px 0px;
    border: 3px solid #295792;
    border-radius: 8px;
}

.title-1
{
    font-size: 1.15em;
    font-weight: bold;
}

.title-2
{
    font-size: 0.9em;
    font-weight: bold;
    margin: 25px 10px 25px 15px;
}

.detail
{
    cursor: pointer;
    font-size: 15px;
    color: #3f3d3d;
    font-weight: bold;
    line-height: 30px;
    text-decoration: underline;
    margin-left: 12px;
}

.detail:hover
{
    color: #b7a3ff;
}

.detail:active
{
    color: tomato;
}

#go-main
{
    color: #ddd;
}

@media (max-width:1000px)
{
    #wrapper-nav
    {
        display: none;
    }

    #wrapper-sidebar-small
    {
        display: grid;
        background-color: #ddd;
        z-index: 10;
    }

    #sidebar-icon-menu
    {
        width: 50px;
    }

    #sidebar-checkbox
    {
        display: none;
    }
}

