/* sidebar.js 에서 생성되는 요소 */
.one .two, .three, .four, .five, .six
{
    margin: 10px;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    color: #ddd;
}

.one:hover, .two:hover, .three:hover, .four:hover .five:hover, .six:hover
{
    color: #b7a3ff;
}

.one:hover, .two:active, .three:active, .four:active, .five:active, .six:active
{
    color: tomato;
}

.two
{
    margin-left: 1px;
}

.three
{
    margin-left: 26px;
}

.four
{
    margin-left: 51px;
}

.five
{
    margin-left: 76px;
}

.six
{
    margin-left: 101px;
}