/* sidebar.js 에서 생성되는 요소 */
#count
{
    border-radius: 5px;
    background-color: rgba(120, 120, 120, 0.3);
    padding: 2px 10px 3px 10px;
    font-size: 0.5em;
    font-weight: bold;
    color: #3d3d3d;
}

.division
{
    border-bottom: 3px solid #ddd;
    padding: 10px;
}

.one, .two, .three, .four, .five, .six
{
    margin: 10px;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    color: #777777;
}

.two
{
    margin-left: 1px;
}

.three
{
    margin-left: 26px;
}

.four
{
    margin-left: 51px;
}

.five
{
    margin-left: 76px;
}

.six
{
    margin-left: 101px;
}